body {
    background-color: white; /* Latar belakang abu-abu muda */
    padding-bottom: 20px;
}

hr {
    color: white;
}

/* --- 1. Header Utama --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 10px 25px;
    background-color: red;
}

.logo-usp {
    /* Placeholder untuk logo kiri atas */
    width: 50px; 
    height: 63px;
    background: url("../assets/usp.webp") center/cover; /* Ganti dengan logo Anda */
    /* Untuk meniru tampilan kotak di gambar */
    /* border: 1px solid #ccc;  */
    border-radius: 20%;
    /* background-color: white; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Kami gunakan ikon user pada gambar */
    font-size: 1.5em; 
    text-align: center;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
}

.header-icon {
    color: black;
    font-size: 2.9em;
}

.btn{
    background-color: #ff0000;
    border: 2px solid #ff0000;
    color: white;
    cursor: pointer;
}

/* --- 2. Area Konten Berita --- */
.content-area {
    background-color: white; /* Latar belakang Merah Solid untuk semua item berita */
    padding: 15px 10px 10px 10px;
}

/* Styling untuk Tombol Submit */
.news-btn-wrapper {
    /* Meniru news-item */
    display: flex; 
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    min-height: 80px; 
    
    /* Tombol harus mengisi 100% lebar induknya (FORM) */
    width: 100%; 
    
    /* Hapus default styling tombol */
    border: 10%;
    border-color: #ff0000;
    cursor: pointer;
    text-align: left; /* Penting agar teks tidak di tengah */
    margin-bottom: 10px; /* Jarak antar item */
    box-shadow: 5px 5px 10px rgba(255, 132, 132, 0.5); /* 5px ke kanan, 5px ke bawah, blur 10px, warna hitam semi-transparan */
}

/* Hilangkan class .news-btn yang tidak relevan lagi */

.item-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
    margin-right: 15px;
    border-radius: 5px; /* Sedikit melengkung */
}

.red-bg {
    background-color: #ff0000; /* Kotak ikon merah */
}

.black-icon {
    color: black; /* Ikon hitam (misalnya untuk Kasus Korupsi) */
}

.white-icon {
    color: white; /* Ikon putih (misalnya untuk Kafe dan Lomba Lari) */
}

/* Sesuaikan ukuran ikon di dalam kotak */
.item-icon i {
    font-size: 1.5em;
}

/* Teks Berita */
.item-text {
    flex-grow: 1;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Gaya khusus untuk item titik-titik (mengambil bentuk persegi) */
.square-icon {
    border-radius: 0; 
}

@media (max-width: 800px) {
    header h1 {
        font-size: 2.3em;
        font-weight: bold;
        text-align: center;
    }
}